* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #e6cca9;
    font-family: Poppins, sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    border-radius: 0 0 15px 15px;
    background: #543636;
    box-shadow: 0 1px 6px 1px #543636a1;
    position: fixed;
}

.logo {
    margin-left: 1rem;
}
.logo img {
    width: 4.5rem;
}

header ul {
    display: none;
    list-style: none;
    justify-content: space-around;
}
header ul li a {
    color: #e6cca9;
    text-transform: uppercase;
    transition: all 0.5s;
}
header ul li a:hover {
    color: #e6cca981;
}

.burger {
    display: flex;
    flex-direction: column;
    height: 36%;
    margin-right: 1rem;
    justify-content: space-between;
}
.burger .line {
    background: #d06583;
    width: 2rem;
    height: 0.3rem;
    border-radius: 5px;
    pointer-events: none;
    transition-duration: 0.8s;
    transition-property: transform;
    overflow: hidden;
}

.slide-menus {
    left: -100%;
    height: 100vh;
    position: fixed;
    width: 70%;
    background-color: #543636f5;
    display: flex;
    flex-direction: column;
    transition: all 0.8s;
    overflow: hidden;
}
.slide-menus a {
    color: #e6cca9;
    text-transform: uppercase;
    padding: 0.8rem;
    margin: 0.5rem 1rem;
    border-bottom: 1px solid #e6cca93d;
}
.slide-menus a span {
    font-size: 0.5rem;
}

#home {
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home .intro {
    color: #543636;
    margin: 0 10%;
    text-align: center;
}
#home .intro p {
    margin-top: 1.5rem;
}
#home .nft-home {
    display: none;
}
.home-btns {
    margin-top: 2rem;
}
.trade-btn {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #543636;
    border: 2px solid #543636;
    padding: 0.7rem;
    border-radius: 30px;
}

.liquidity-btn {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #543636;
    background: #fe6e6e6e;
    box-shadow: 1px 2px 4px 0px #54363696;
    padding: 0.7rem;
    border-radius: 30px;
}

.socmed {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    width: 100%;
}
.socmed a {
    font-size: 2rem;
    color: #543636;
}

.go-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background: #54363669;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px 1px #5436366c;
}
.go-top i {
    pointer-events: none;
    font-size: 1.5rem;
    color: #543636;
}

#tokenomics {
    height: 100vh;
    width: 100%;
    background-color: #d06583;
    padding: 12vh 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#tokenomics .img-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#tokenomics img {
    width: 10rem;
    box-shadow: 1px 2px 8px 2px #5436366c;
    border-radius: 30px;
    background: #5436365e;
}

#tokenomics ul li {
    list-style: none;
    font-weight: 600;
    font-size: 0.7rem;
    color: #543636;
    letter-spacing: 1px;
    background: #e6cca94f;
    border-radius: 30px;
    text-align: center;
    padding: 0.2rem;
    margin-top: 1rem;
}

#tokenomics #tot {background-color: #e6cca9;}
#tokenomics #liq {background-color: #fa4146;}
#tokenomics #team {background-color: #91be6d;}
#tokenomics #burn {background-color: #f2712d;}
#tokenomics #airdrop {background-color: #f9c84f;}
#tokenomics #comm {background-color: #43ab8a;}
#tokenomics #partner {background-color: #567591;}

#litepaper {
    height: 100vh;
    width: 100%;
    background-color: #543636a8;
    padding: 12vh 20% 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#litepaper h1 {
    margin-bottom: 1rem;
    letter-spacing: 3px;
    color: #e6cca9;
}
#litepaper p {
    margin-bottom: 1rem;
    text-align: center;
    color: #e6cca9;
}
#litepaper a {
    background: #e6cca9;
    color: #543636;
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 1px 2px 8px 1px #e6cca96e;
}

#buy {
    height: 100vh;
    width: 100%;
    background-color: orange;
}

@media (min-width: 375px) {
    #tokenomics img {width: 15rem;}
    #tokenomics ul li {font-size: 0.8rem;}
}

@media (min-width: 411px) {
    #tokenomics img {width: 15rem;}
    #tokenomics ul li {font-size: 0.9rem;}
}

@media (min-width: 768px) {
    #tokenomics img {width: 20rem;}
    #tokenomics ul li {
        font-size: 1rem;
        padding: 0.7rem;
    }
}

@media (min-width: 992px) {
    header ul {
        display: flex;
    }
    header ul li a {
        margin-right: 2rem;
        font-size: 0.8rem;
    }
    header ul li a span {
        font-size: 0.5rem;
    }
    .burger {
        display: none;
    }
    .slide-menus {
        display: none;
    }
    #home .intro {
        text-align: left;
    }
    #home .intro h2 {
        font-size: 1.5rem;
    }
    .trade-btn {
        display: inline-block;
        width: 10rem;
        text-align: center;
    }
    .liquidity-btn {
        display: inline-block;
        width: 8rem;
        text-align: center;
    }
    .socmed {
        display: block;
    }
    .socmed a {
        margin-right: 2rem;
    }
    #tokenomics {
        flex-direction: row;
        justify-content: space-between;
    }
    #tokenomics .img-div {
        width: 40%;
    }
    #tokenomics img {
        height: 20rem;
        width: 20rem;
        margin: auto;
    }
    #tokenomics .token-content {
        width: 50%;
    }
    #tokenomics ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: flex-start;
    }
    #tokenomics #tot {border-bottom: 5px solid #e6cca9;}
    #tokenomics #liq {border-bottom: 5px solid #fa4146;}
    #tokenomics #team {border-bottom: 5px solid #91be6d;}
    #tokenomics #burn {border-bottom: 5px solid #f2712d;}
    #tokenomics #airdrop {border-bottom: 5px solid #f9c84f;}
    #tokenomics #comm {border-bottom: 5px solid #43ab8a;}
    #tokenomics #partner {border-bottom: 5px solid #567591;}

    #tokenomics ul #tot,
    #tokenomics ul #liq,
    #tokenomics ul #burn,
    #tokenomics ul #airdrop,
    #tokenomics ul #team,
    #tokenomics ul #comm,
    #tokenomics ul #partner {
        list-style: square;
        background: none;
        border-radius: 0;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    #litepaper {
        padding: 12vh 20% 0 20%;
    }
    #litepaper p, #litepaper a {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .logo {
        margin-left: 10%;
    }
    header ul {
        margin-right: 10%;
    }
    #home .intro {
        margin-right: 40%;
    }
    #home .nft-home {
        display: inline-block;
        position: absolute;
        z-index: -1;
        right: 10%;
    }
    #home .nft-home img {
        width: 15rem;
        height: auto;
        border-radius: 30px;
        box-shadow: 2px 2px 8px 1px #543636a1;
    }
}

@media (min-width: 1400px) {
    header ul li a {
        font-size: 0.9rem;
    }
    #home .intro h2 {
        font-size: 2rem;
    }
    #home .intro p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    #home .nft-home img {
        width: 20rem;
    }
    #tokenomics img {
        height: 30rem;
        width: 30rem;
    }
    #tokenomics ul li {
        font-size: 1.3rem;
    }
}